<div class="page-header">
 <h2>
	Players
	<a ng-if = "main.user.userType == 'admin'" href="/users/create" class="btn btn-default"> 
		<span class="glyphicon glyphicon-plus"></span>

	</a> 
</h2>


</div>

<!-- LOADING MESSAGE -->

<div class="jumbotron text-center" ng-show="user.processing"> 
	<span class="glyphicon glyphicon-repeat spinner"></span> 
		<p>Loading Users...</p>
</div>


<table class="table table-bordered table-striped" ng-show="user.users"> 
	<thead>
		<tr>
			<th>Player </th>
			<th>email</th> 
			<th>Position</th>
    	</tr>
  	</thead>
<tbody>
	 <!-- LOOP OVER THE USERS -->
	<tr ng-repeat="person in user.users"> 
		<td>{{person.username}} &nbsp &nbsp &nbsp
			<a ng-if = "person.username == main.user.username" ng-href="/users/{{ person._id }}">
				<span class="glyphicon glyphicon-pencil">&nbsp </span> 
			</a>
			<a ng-if = "person.username == main.user.username" 	href="#" ng-click="user.deleteUser(person._id)">
				<span class="glyphicon glyphicon-trash"></span>
			</a>

		</td>
		<td>{{ person.email }}</td>
		<td>{{ person.position1 }}</td>
		


	</tr>

  </tbody>
</table>

<p> {{main.user.position1}} </p>