<div class="page-header">
 <h2>
	Fixtures
	<a href="/fixtures/create" class="btn btn-default"> 
		<span class="glyphicon glyphicon-plus"></span>
		
	</a> 
</h2>
</div>


<div class="jumbotron text-center" ng-show="fixture.processing"> 
	<span class="glyphicon glyphicon-repeat spinner"></span> 
		<p>Loading Fixtures...</p>
</div>

<div class = "jumbotron text-center">


	<table class="table table-bordered table-striped" ng-show="fixture.fixtures"> 
		<thead>
			<tr>
				<th> Date </th> 
				<th>Opposition</th>
				<th> H/A </th>
				<th> Venue </th>
				<th> Competition </th>
				<th> Attending?</th>

	    	</tr>
	  	</thead>
	<tbody>
		 <!-- LOOP OVER THE fixtures -->
		<tr ng-repeat="detail in fixture.fixtures"> 
			<td> {{detail.date | date: 'longDate'}}
				
			</td>
			<td>{{detail.opposition}}</td>
			<td> 
				<div ng-if = "detail.home == true"> H </div>
				<div ng-if = "detail.home == false"> A </div>
			</td>
			<td>{{ detail.venue }}</td>
			<td>{{ detail.comp}}</td>
			<td align = "center">

				<div ng-if = "detail.available.indexOf(main.user.id) >-1">
					<span class="yes glyphicon glyphicon-thumbs-up"> </span>
				</div>

					<div ng-if = "detail.available.indexOf(main.user.id) ==-1">
					<span class="no glyphicon glyphicon-thumbs-down"> </span>
				</div>

				<div>
					<a href="/availability/{{detail._id}}" class="btn btn-sm"> view </a>
				</div>
			
			</td>	
			

		</tr>



	  </tbody>
	</table>
</div>






