<div class="page-header">
	<h2 ng-if="type == 'create'">Create Player</h2> 
	<h2 ng-if="type == 'edit'">Edit Player</h2>
</div>

<div class="jumbotron">
<form class="form-horizontal" ng-submit="saveUser()">
	
	 <table class="table">
        <thead>
            <tr>
                <th> <h4> Player Details </h4> </th>   
            </tr>
        </thead>

        <tbody>

        	<tr>
        		<td>
        			<div class="form-group">
						<label class="col-sm-4 control-label">User Name</label> 
						<div class="col-sm-6">
							<input required = 'true' type="text" class="form-control" ng-model="userData.username">
   						</div>
  					</div>
        		</td>
        		<td>
        			<div class="form-group">
						<label class="col-sm-4 control-label">Password</label> 
						<div class="col-sm-6">
							<input required = 'true'  type="password" class="form-control" ng-model="userData.password">
   						</div>
  					</div>
  				</td>
        	</tr>

        	<tr>
        		<td>
        			<div class="form-group">
						<label class="col-sm-4 control-label">First Name</label> 
						<div class="col-sm-6">
							<input required = 'true' type="text" class="form-control" ng-model="userData.firstname">
   						</div>
  					</div>
  				</td>

  				<td>
        			<div class="form-group">
						<label class="col-sm-4 control-label">Second Name </label> 
						<div class="col-sm-6">
							<input required = 'true'  type="text" class="form-control" ng-model="userData.secondname">
   						</div>
  					</div>
  				</td>

  				<td>
        			<div class="form-group">
						<label class="col-sm-4 control-label">D.O.B</label> 
						<div class="col-sm-6">
							<input required = 'true' type="date" class="form-control" ng-model="userData.dob">
   						</div>
  					</div>
  				</td>

        	</tr>

        	<tr>
        		<td>
        			<div class="form-group">
						<label class="col-sm-4 control-label">First Choice Position </label> 
						<div class="col-sm-6">
							<select required = 'true' ng-model="userData.position1">
						        <option value="GK">GK</option>
						        <option value="FB">FB</option>
						        <option value="CB">CB</option>
						        <option value="MF">CMF </option>
						        <option value="WMF">WMF</option>
						        <option value="CF">CF</option>
   			 				</select>
   						</div>
  					</div>
  				</td>

  				<td>
        			<div class="form-group">
						<label class="col-sm-4 control-label">Second Choice Position </label> 
						<div class="col-sm-6">
							<select ng-model="userData.position2">
						        <option value="GK">GK</option>
						        <option value="FB">FB</option>
						        <option value="CB">CB</option>
						        <option value="MF">CMF </option>
						        <option value="WMF">WMF</option>
						        <option value="CF">CF</option>
   			 				</select>
   						</div>
  					</div>
  				</td>

        	</tr>

        	<tr>

  				<td>
        			<div class="form-group">
						<label class="col-sm-4 control-label">email </label> 
						<div class="col-sm-6">
							<input required = 'true' type="text" class="form-control" ng-model="userData.email">
   						</div>
  					</div>
  				</td>


  				<td>
        			<div class="form-group">
						<label class="col-sm-4 control-label">Mobile</label> 
						<div class="col-sm-6">
							<input required = 'true' type="text" class="form-control" ng-model="userData.mob">
   						</div>
  					</div>
  				</td>

        	</tr>

        	<tr>

  				<td>
        			<div class="form-group">
						<label class="col-sm-4 control-label">Address </label> 
						<div class="col-sm-10">
							<input required = 'true' type="text" class="form-control" ng-model="userData.address">
   						</div>
  					</div>
  				</td>


        	</tr>

       		<tr>

       			<td>

		       		<div class="form-group">
						<div class="col-sm-offset-2 col-sm-6">
							<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="type == 'create'">Create User</button>
							<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="type == 'edit'">Update User</button>
				  		</div>
				  	</div>

			  	</td>

			  	
		  		<td>
					<div class="row show-hide-message" ng-show="message">
						<div class="col-sm-6 col-sm-offset-2">
						<div class="alert alert-info"> {{ message }}</div>
							</div>
					</div>

				</td>

       		</tr>

		</tbody>
	</form>
	
</div>



  	